# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\框架实验\MyTest\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
